<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>khoi.log.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>khoi.controller.DispatcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>khoi.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>khoi.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCarServlet</servlet-name>
        <servlet-class>khoi.controller.LoadCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCarServlet</servlet-name>
        <servlet-class>khoi.controller.SearchCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>khoi.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatus</servlet-name>
        <servlet-class>khoi.controller.ChangeStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCarUserServlet</servlet-name>
        <servlet-class>khoi.controller.LoadCarUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCarUserServlet</servlet-name>
        <servlet-class>khoi.controller.SearchCarUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>khoi.controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>khoi.controller.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemCartServlet</servlet-name>
        <servlet-class>khoi.controller.DeleteItemCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>khoi.controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>khoi.controller.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryDetailServlet</servlet-name>
        <servlet-class>khoi.controller.HistoryDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <servlet-class>khoi.controller.SearchHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFacebookServlet</servlet-name>
        <servlet-class>khoi.controller.LoginFacebookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RateServlet</servlet-name>
        <servlet-class>khoi.controller.RateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayMentServlet</servlet-name>
        <servlet-class>khoi.controller.PayMentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHistoryServlet</servlet-name>
        <servlet-class>khoi.controller.DeleteHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>khoi.controller.AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayPalServlet</servlet-name>
        <servlet-class>khoi.controller.PayPalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/DispatcherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCarServlet</servlet-name>
        <url-pattern>/LoadCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCarServlet</servlet-name>
        <url-pattern>/SearchCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatus</servlet-name>
        <url-pattern>/ChangeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCarUserServlet</servlet-name>
        <url-pattern>/LoadCarUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCarUserServlet</servlet-name>
        <url-pattern>/SearchCarUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemCartServlet</servlet-name>
        <url-pattern>/DeleteItemCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/HistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryDetailServlet</servlet-name>
        <url-pattern>/HistoryDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <url-pattern>/SearchHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFacebookServlet</servlet-name>
        <url-pattern>/LoginFacebookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RateServlet</servlet-name>
        <url-pattern>/RateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayMentServlet</servlet-name>
        <url-pattern>/PayMentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHistoryServlet</servlet-name>
        <url-pattern>/DeleteHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayPalServlet</servlet-name>
        <url-pattern>/PayPalServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>SE1421</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
